<!doctype html>
<html>

	<head>
		<title>Pafeto</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/pafeto.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="text-center" style="padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;">
		<div
			style="font: 42px 'Lucida Grande'; font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
			<a href="/">pafeto</a>
		</div>
		<div style="font-size:20px">แหล่งรวมหลากหลายเมนูอร่อยจากร้านที่ให้บริการส่งถึงที่</div>
		</div>
		{{{body}}}

		<div class="footer">
			หากมีข้อสงสัย ข้อเสนอแนะหรือติชมอะไร ติดต่อผู้พัฒนาได้ที่ thepafeto@gmail.com
			<p class="text-muted">Pafeto © 2015</p>
		</div>
	</body>

</html>