<!doctype html>
<html>

	<head>
		<title>Pafeto</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/pafeto.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	
	<body>

		<div class="text-center" 
			style="font: 42px 'Lucida Grande'; font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
			<a href="/">pafeto</a>
		</div>
		<div class="text-center" style="font-size:20px">หลากหลายเมนูอร่อย ที่ให้บริการส่งถึงบ้านคุณ</div>

		<div class="text-center" style="font-size:20px; margin-top: 7px;">
			<a href="/dishes">เมนูอาหาร</a> | <a href="/restaurants">ร้านอาหาร</a>
		</div>

		<div class="text-center"><hr width="500"></div>

		{{{body}}}

		<div class="text-center"><hr width="500"></div>
		<p class="text-center text-muted">Pafeto © 2015</p>

	</body>

</html>
