<div class="text-center">
<h3>เข้าสู่ระบบ</h3>
<div class="errorText">{{errors}}</div>
<form action="/login" method="post">
	<div>อีเมล <input type="text" name="email"></div>
	<div>รหัสผ่าน <input type="password" name="password"></div>
	<div><input type="submit" value="เข้าสู่ระบบ"></div>
</form>
</div>