doctype html
html
	head
		title= title
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/pafeto.css', rel="stylesheet")
		link(href='/css/bootstrap-slider.min.css', rel="stylesheet")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

	body
		div(style="padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;", class="text-center")
			div(style="font: 36px 'Lucida Grande'; font-weight: bold; margin-top: 10px; margin-bottom: 10px;")
				a(href="/") pafeto
			div(style="font-size:18px") ค้นหาหลากหลายเมนูอร่อย จากร้านที่ให้บริการส่งถึงที่
		
		block content

		div(class='footer') หากมีข้อสงสัย ข้อเสนอแนะหรือติชมอะไร ติดต่อผู้พัฒนาได้ที่ thepafeto@gmail.com
			p(class='text-muted') Pafeto © 2015
		